[Unit]
Description=Dehydrated ACME client
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/bin/dehydrated -c

Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
