[Unit]
Description=Dynamic display configuration
Documentation=https://github.com/emersion/kanshi
PartOf=wayland-session.target
After=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=on-failure

[Install]
WantedBy=wayland-session.target
