[Unit]
Description=VNC server for wlroots compositors
Documentation=https://github.com/any1/wayvnc
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc
Restart=on-failure

[Install]
WantedBy=graphical-session.target
